<svg width="1680px" height="1000px" viewBox="0 0 1680 1000" xmlns="http://www.w3.org/2000/svg" version="1.1">
  {{#each blocks as |block|}}
    {{#each block.outputs as |output|}}
      {{flow-connection startX=output.x
                        startY=output.y
                        endX=output.connection.input.x
                        endY=output.connection.input.y
                        offsetX = offsetX
                        offsetY = offsetY
      }}
    {{/each}}
  {{/each}}

  {{#if showReconnector}}
    {{flow-connection startX=start.x startY=start.y endX=end.x endY=end.y}}
  {{/if}}
</svg>





  {{#multi-selection as |selection|}}
    {{#each blocks as |block|}}
      {{component logicBlockComponent
        selection=selection
        model=block
        offsetX=offsetX
        offsetY=offsetY
        zoom=zoom
        reroute=(action 'reroute')
        deleteBlock=(action 'deleteBlock')
        connectToNewBlock=(action 'connectToNewBlock')

        onElementSelect=(action 'elementSelected')
        onElementUnselect=(action 'elementUnselected')
        onElementMoved=(action 'elementMoved')
      }}
    {{/each}}
  {{/multi-selection}}

  {{#ember-scrollable
    horizontal=true
    vertical=true
    autoHide=false
    onScroll=(action "handleScroll")
  }}
  <div style="width=2000px; height: 1500px"></div>
{{/ember-scrollable}}
